.img_detalle{
	width: 30%;
	height: auto;
	display: inline;
	float: left;
	margin-left: 5px;
	margin-top: 5px; 
}

.acara_auto{
	width: 100%;
	height: auto;
	padding: 10px 80px;
	margin: 1px 4px 10px 4px;
	float: left; 
	display: inline;
	overflow: hidden;
	background-color: #ff8899;
	color: #cbcbcb;
	font-weight: bold;
	font-size: 15px;
}

.acara_precio{
	height: auto;
	padding: 15px 40px;
	margin: 1px 4px 1px 4px;
	float: left;
	display: inline;
	overflow: hidden;
	background-color: #88ff99;
	color: #171616;
	font-weight: bold;
	font-size: 10px;
}


.corner-radius{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.clear{
	clear: both;
	display: block;
}