      
      <!-- Modal Structure -->
      <div id="modal1" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions1">
        <div class="modal-content">
         
          <div *ngIf="auto;else sin_resultado">
            
            <div class="row">
              <div class="col s12 center-align"><h4>{{auto.nombre}}</h4></div>
              
              <div class="col s4">
                
                <div class="divider"></div>
                <div class="section center-align">
                  <h6>Imagenes</h6>
                </div>
                
                <div class="divider"></div>
                <div class="section center-align">  
                  <img src="{{auto.imagenes[0]}}" alt="" materialize="materialbox" class="materialboxed responsive-img">
                </div>  
                
                <div class="divider"></div>
                <div class="section center-align">
                  <div *ngFor="let pic of auto.imagenes" materialize="materialbox" class="materialboxed img_detalle">
                    <img src="{{pic}}" alt="" class="responsive-img">
                  </div>
                </div>
                
              
              </div>
              
              <div class="col s8">

                <div class="divider"></div>
                  <div class="section right-align">
                    <h6>{{auto.fecha}}</h6>
                  </div>

                <div class="divider"></div>
                  <div class="section">
                    <h5>Detallles</h5>
                    <p [innerHtml]="auto.detalle"></p>
                    <h4 class="red-text text-darken-4 right-align">{{auto.moneda}}{{auto.precio}}</h4>
                  </div>
              </div>

              <div class="col s12 center-align">
                 <div class="divider"></div>
                  <div class="section">
                    <h6><a href="{{auto.link}}" target="_blank"><span class="orange-text">{{auto.pagina}}</span> | {{auto.link}}</a></h6>
                  </div>
                <div class="divider"></div>
              </div>


              <!-- inicio macheo acara  //-->
              <div  class="col s12 center-align" *ngIf="auto.match_autos.length > 0;else sin_macheo"> 
                
                <div class="section">
                  <h6>Precios sugeridos por <i>Acara.org.ar</i> para versiones similares.</h6>
                </div>
                <div class="divider"></div>
                <br/>
                <div *ngFor="let match of auto.match_autos" style="margin-bottom: 20px;">
                  <div class="deep-purple darken-1  acara_auto corner-radius hoverable">{{match.marca}} | {{match.modelo}} | {{match.version}}</div>
                  <div *ngFor="let precio of match.precios">
                    <div class="#eeff41  acara_precio corner-radius hoverable" *ngIf="precio.precio != '-'">{{precio.anio}} | {{precio.moneda}} {{precio.precio}}</div>
                  </div>
                  <br class="clear"/>
                </div>
              </div>  
              <ng-template #sin_macheo></ng-template >
              <!-- fin macheo acara //-->




            </div>

          


          </div>
          <ng-template #sin_resultado>No se ha encontrado el auto seleccionado!</ng-template >

        </div>
        <div class="modal-footer">
          <a class="waves-effect waves-green btn-flat" (click)="closeModal1()">Cerrar</a>
        </div>
      </div>
      
      