/* You can add global styles to this file, and also import other style files */

body{
	background-color: #ffffff;//*#e3bc0e;*/
	margin: 0;
	padding: 0;
}

select{

	width: 100%;
	height: 40px;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

.contenedor{

	width: 1000px;
	height: auto;
	min-height: 750px;
	margin: 0 auto;
}

.cabecera{
	background: url(./assets/img/header_web.jpg) no-repeat center;
	background-position: left top;
	background-color: #FFD101;
	width: 100%;
	height: 265px;
}

.color_gradient{
	background: rgba(253,216,53,1);
	background: -moz-linear-gradient(top, rgba(253,216,53,1) 0%, rgba(255,255,255,1) 96%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,216,53,1)), color-stop(96%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(253,216,53,1) 0%, rgba(255,255,255,1) 96%);
	background: -o-linear-gradient(top, rgba(253,216,53,1) 0%, rgba(255,255,255,1) 96%);
	background: -ms-linear-gradient(top, rgba(253,216,53,1) 0%, rgba(255,255,255,1) 96%);
	background: linear-gradient(to bottom, rgba(253,216,53,1) 0%, rgba(255,255,255,1) 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd835', endColorstr='#ffffff', GradientType=0 );
}

.contenedor_resultados{
	padding: 25px;
	min-height: 300px;
}

#toast-container{
	bottom: 0px !important;
    left: 25% !important;
	overflow: hidden;
	height: auto;
	width: 50%;
}

#toast-container .toast{
	background-color: #c62828;
}

.subir_page{
	background-image:url(./assets/img/arriba.png);	
	background-repeat:no-repeat;	
	width: 54px;
	height: 54px;
	overflow: hidden;
	position: fixed;
	top: 90%;
	left: 10px;
	display: none;
	cursor: pointer;
	opacity:0.5;
}
.subir_page:hover{
	opacity: 0.8;
}

.pie{

	width: 100%;
	height: 325px;
	background-image:url(./assets/img/footer.png);	
}