<nav class="black center-align">
  <div class="row valign-wrapper">
      <div class="col s1">
       
      </div>
      <div class="col s4">
        <select  class="browser-default" [(ngModel)]='marcaSelected' (change)="onMarcaSelected($event)" >
          <option *ngFor='let marca of marcas_acara' [value]="marca.codigo">{{marca.label}}</option>
        </select>
      </div>
      <div class="col s4">
        <select  class="browser-default" [(ngModel)]='modeloSelected' (change)="onModeloSelected($event)" >
          <option *ngFor='let modelo of modelos_acara' [value]="modelo.codigo">{{modelo.label}}</option>
        </select> 
      </div>
      <div class="col s3"> 
        <button  class="waves-effect waves-light btn-large black" (click)="precios_acara(marcaSelected, modeloSelected)">
          <i class="material-icons left">search</i>Buscar
        </button>                
      </div>
  </div>  
</nav> 

<div  class="contenedor_resultados menu_ancla">
  
  <div *ngIf="showResultados;else other_content">
  <h5> » Resultados ({{total}})</h5>  
  <div class="row" >
        <div class="card-panel grey lighten-5 hoverable col s12" *ngFor="let auto of autos; let i=index" >
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="{{auto.imagenes[0]}}" alt="" class="responsive-img">
            </div>
            <div class="col s10">
              <div class="card-title" (click)="vtnmodal.openModal1(auto)" style="cursor:pointer;">
                <h5>#{{i+1}} - {{auto.nombre}}</h5>
              </div>
              <div class="card-content red-text text-darken-4">
                <h6>{{auto.moneda}} {{auto.precio}}</h6>
              </div>
              <div class="card-action">
                <a href="{{auto.link}}" target="_blank"><span class="orange-text">{{auto.pagina}}</span> | {{auto.link}}</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  

    <div class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">
  </div>

  </div>



  <app-spinner [show]="showSpinner"></app-spinner>
  <ng-template #other_content>
    <img src="../assets/img/auto2.png" class="auto_ini">
  </ng-template>
</div>

<app-modal-detalle #vtnmodal></app-modal-detalle>


